.popup_disabled {
  -webkit-animation: opacityRemove .7s;
  animation: opacityRemove .7s;
}

@-webkit-keyframes opacityRemove{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  
  @keyframes opacityRemove {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }