.profile__photo {
  width: 100%;
  border-radius: 100px;
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .profile__photo {
    width: 130px;
    height: 130px;
    margin: auto;
  }
}
