.element__like-button {
  margin: 0 0 0 auto;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  background-color: white;
  width: 25px;
  height: 25px;

  cursor: pointer;
}
