.element__like-button {
  margin: 0 0 0 auto;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  background-color: white;
  width: 25px;
  height: 25px;

  cursor: pointer;
  
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.element__like-button:hover {
  opacity: 0.6;
}